{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block H1 %}{% endblock %}
{% block content %}

    {{ form_start(registrationForm) }}
        <h2>Inscription</h2>
        <div class="input">
            <label for="inputEmail">Email :</label><div id="message"></div>
            {{ form_widget(registrationForm.email, {'attr': {'placeholder':'Votre adresse email'} }) }}
        </div>

        <div class="input">
            <label for="inputPassword">Mot de passe :</label>
            {{ form_widget(registrationForm.plainPassword, {'attr': {'placeholder':'Votre mot de passe'} }) }}
        </div>
        <div class="input">
            <label for="inputPassword">Nom :</label>
            {{ form_widget(registrationForm.nom, {'attr': {'placeholder':'Votre nom'} }) }}
        </div>
        <div class="input">
            <label for="inputPassword">Prenom :</label>
            {{ form_widget(registrationForm.prenom, {'attr': {'placeholder':'Votre prenom'} }) }}
        </div>
        <div class="check-box margin-10px">
            {{ form_widget(registrationForm.agreeTerms, {'attr': {'id':'conditions'} }) }}
            <label class="text-center" for="conditions">J'accepte les CGU</label>
        </div>
        <input type="submit" class="bouton" value="S'inscrire">
    {{ form_end(registrationForm) }}
{% endblock %}
