{% extends 'base.html.twig' %}

{% block title %}Spectacles{% endblock %}

{% block H1 %}<h1 id="titre">Nos salles</h1>{% endblock %}
{% block content %}
<div class="flex-space-around presentation-spectacle">
    {% for salle in salles %}
        <div class="flex-column taille-image img-salles">
            <img src="{{ asset('images/salles/' ~ salle.getSalleImage) }}" alt="Image de '{{ salle.getSalleNom() }}'"/>
            <h2>{{ salle.getSalleNom }}</h2>
            <p class="margin-5px">Adresse : {{ salle.getSalleAdresse }}</p>
            <p class="margin-5px">Places : {{ salle.getSalleCapacite() }}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}