{% extends 'base.html.twig' %}
{% block javascripts %}<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>{% endblock %}

{% block title %}Spectacles{% endblock %}

{% block body %}
    <h1>Nos spectacles :</h1>

    {{ form_start(form, {'attr': {'action': path('app_search')} }) }}
    {{ form_widget(form.search) }}
    {{ form_end(form) }}

    {% for manifestation in manifs %}
        <div>
            <img src="{{ asset('images/manifs/' ~ manifestation.getManifAffiche()) }}" alt="Affiche de '{{ manifestation.getManifTitre() }}'"/>
            <h2>{{ manifestation.getManifTitre() }}</h2>
            <p>{{ manifestation.getManifGenre() }}</p>
            <p>{{ manifestation.salle.getSalleNom() }}</p>
            <p>{{ manifestation.getManifDate()|date('d-m-Y') }}</p>
        </div>
    {% endfor %}
{% endblock %}