{% extends 'base.html.twig' %}
{% block javascripts %}<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>{% endblock %}

{% block title %}Spectacles{% endblock %}

{% block H1_position %}
    <div class="flex-space-between">
{% endblock %}
{% block H1 %}Nos spectacles{% endblock %}
{% block search %}
    {{ form_start(form, {'attr': {'action': path('app_search'), 'class':'recherche' } }) }}
    {{ form_widget(form.search) }}
    <span class="material-icons" aria-hidden="true" data-icon="&#xe000;" onclick="search.submit()">search</span>
    {{ form_end(form) }}
{% endblock %}

{% block body %}
    <div class="flex-space-around presentation-spectacle">
    {% for manifestation in manifs %}
            <div class="flex-column taille-image background margin-20px">
                <a href="{{ path('app_show', {'id': manifestation.getId }) }}">
                    <img src="{{ asset('images/manifs/' ~ manifestation.getManifAffiche) }}" alt="Affiche de '{{ manifestation.getManifTitre() }}'"/>
                    <h2>{{ manifestation.getManifTitre }}</h2>
                    <p class="margin-5px">{{ manifestation.getManifGenre }}</p>
                    <p class="margin-5px">{{ manifestation.salle.getSalleNom }}</p>
                    <p class="margin-5px">{{ manifestation.getManifDate|date('d-m-Y') }}</p>
                </a>
            </div>
    {% endfor %}
    </div>
{% endblock %}