{% extends 'base.html.twig' %}
{% block title %}Spectacles{% endblock %}

{% block H1 %}<h1 id="titre">Résultat(s) de votre recherche</h1>{% endblock %}
{% block content %}
        <div class="flex-space-around presentation-spectacle">
                {% for key in search %}
                        <div class="flex-column flex-center taille-image">
                                <img src="{{ asset('images/manifs/' ~ key.getManifAffiche) }}" alt="Affiche de '{{ key.getManifTitre() }}'"/>
                                <h2 class="manif_titre">{{ key.getManifTitre }}</h2>
                                <p class="margin-5px">{{ key.getManifGenre }}</p>
                                <p class="margin-5px">{{ key.salle.getSalleNom }}</p>
                                <p class="margin-5px">{{ key.getManifDate|date('d/m/Y') }}</p>
                                <div class="text-center margin-20px">
                                        <a class="bouton-commander text-center" href="{{ path('app_show', {'id': key.getId }) }}">Réserver</a>
                                </div>
                        </div>
                {% endfor %}
        </div>
{% endblock %}
