<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SQY Culture{% endblock %}</title>
        <!--balise meta-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name= "robots" content= "index,follow">
        <meta name= "googlebot" content= "index,follow">
        <!--fin balise meta-->
        <link rel="shortcut icon" href="{{ asset('images/logo.svg') }}" type="image/x-icon">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link href="{{ asset('styles/style.css') }}" rel="stylesheet" />
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {{ include('header.html.twig') }}
        <main>
            {% block top %}
            <div class="text-center">
                {% block H1 %}
                {% endblock %}
            </div>
            {% endblock %}
            {% block content %}
            {% endblock %}
        </main>
        {{ include('footer.html.twig') }}
    </body>
    <script type="text/javascript" src="{{ asset('js/style.js') }}"></script>
    {% block javascripts2 %}
    {% endblock %}
</html>
