<nav>
    <a href="{{ path('app_accueil') }}">Accueil</a>
    <a href="{{ path('app_manifs') }}">Nos spectacles</a>
    <a href="{{ path('app_salles') }}">Nos salles</a>

    {#  {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_admin') }}">Admin</a>
    {% endif %} #}


    {% if app.user %}
        <a href="{{ path('app_logout') }}">Deconnexion</a>
        Bienvenue {{ app.user.userIdentifier }}
    {% else %}
        <a href="{{ path('app_login') }}">Connexion</a>
        <a href="{{ path('app_register') }}">Inscription</a>
    {% endif %}
</nav>